body{
    background-color: rgb(132, 0, 255);
}

.Content {
    text-align: center;
    margin: 30px;
}

.title {
    font-size: 90px;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.Imagine-Mind {
    text-align: left;
    border: 5px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(255, 0, 217);
    width: 350px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
}

.imagine-mind-button {
    text-align: right;
}

button {
    width: fit-content;
    font-size: 20px;
    border: 2px solid;
    border-radius: 5px;
    background-color: aqua;
    color: rgb(0, 0, 0);
    font: 1000px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.Imagine-Mind:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #e0e0e0; /* Subtle background change */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

@media (max-width: 600px) {
    .title {
        font-size: 50px;
    }

    .Imagine-Mind {
        width: fit-content;
    }
}